@font-face {
    font-family: Outfit;
    src: url(./Outfit-Regular.ttf);
}

*/html {
    font-family: Outfit;
}


#banner {
    background-image: url("./assets/4.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 96vh;
}

#banner::after {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#banner .container-banner {
    position: relative;
    z-index: 1;
    color: #fff;
}




@media (max-width: 768px) {
    #banner {
        height: 60vh;
    }

    .container-banner {
        text-align: center;
    }
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    color: #000;
    padding-top: 20px;
    transition: transform 0.3s ease;
}

.sidebar.collapsed {
    transform: translateX(-100%);
}

.sidebar-logo {
    color: #000;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul.nav {
    margin-top: 30px;
}

.sidebar .nav-link {
    color: #000;
    padding: 10px;
    transition: all 0.3s ease;
}

.sidebar .nav-link:hover {
    background-color: #2c3036;
    color: #fff;
}

.sidebar .nav-link.active {
    background-color: #2c3036;
    color: #fff;
}

.sidebar .logout-btn {
    margin-top: 15rem;
}

.content {
    margin-left: 0;
    padding: 20px;
    transition: margin 0.3s ease;
}

.header {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
}

.header h1 {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .sidebar {
        transform: translateX(0);
    }

    .content {
        margin-left: 250px;
    }
}

@media (max-width: 991px) {
    .sidebar {
        transform: translateX(0);
    }

    .content {
        margin-left: 0px;
    }
}