/* @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap'); */


@font-face {
    font-family: Poppins;
    src: url('./Poppins-Regular.ttf');
}

html {
    font-family: Poppins;
}

#product {
    margin-top: 20rem;
}

.d-show {
    transition: 0.5s ease-in-out all;
    display: none;
}

td {
    font-size: medium;
}

#reviews {
    display: grid;
    place-items: center;
    height: 100vh;
}

.section-header {
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 25px;
    color: #fff;
}

.section-header:after {
    content: '';
    height: 3px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    background: #fff;
}

.section-header span {
    display: block;
    font-size: 15px;
    font-weight: 300;
}

.testimonials {
    max-width: 1000px;
    padding: 0 15px 50px;
    margin: 0 auto 80px auto;
}

.single-item {
    background: #fff;
    color: #111;
    padding: 15px;
    margin: 50px 15px;
}

.profile {
    margin-bottom: 30px;
    text-align: center;
}

.img-area {
    margin: 0 15px 15px 15px;
}

.img-area img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 7px solid #ffc107;
}

.content {
    font-size: 18px;
}

.content p {
    text-align: justify;
}

.content p #content {
    font-size: 48px;
    margin-right: 20px;
    color: #ffc107;
}

.socials i {
    margin-right: 25px;
}

.bio h4 {
    font-family: 'Berkshire Swash', cursive;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #ffc107;
}

@media (max-width:767px) {
    #reviews {
        margin-bottom: 18rem;
    }
}