/* @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap'); */


@font-face {
    font-family: Poppins;
    src: url('./Poppins-Regular.ttf');
}

html {
    font-family: Poppins;
}

#product {
    margin-top: 20rem;
}

.d-show {
    transition: 0.5s ease-in-out all;
    display: none;
}